openapi: 3.1.0
info:
  title: Kakao Login REST OAuth OIDC API
  description: REST API for Kakao Login (OAuth 2.0 / OpenID Connect), Kakao user management, consent and service-terms management, and OIDC discovery. Apps authenticate users with Kakao OAuth and then call the kapi.kakao.com user endpoints with a Bearer access token or, for app-level operations, the Kakao app Admin Key.
  version: 2.0.0
  termsOfService: https://www.kakao.com/policy/terms
  contact:
    name: Kakao Developers
    url: https://developers.kakao.com/
  license:
    name: Proprietary
    url: https://www.kakao.com/policy/terms
servers:
- url: https://kauth.kakao.com
  description: Kakao OAuth (kauth) endpoint
- url: https://kapi.kakao.com
  description: Kakao API (kapi) endpoint
tags:
- name: OIDC
  description: OpenID Connect discovery, JWKS, and user info.
paths:
  /v1/oidc/userinfo:
    get:
      operationId: oidcUserInfo
      summary: OIDC user info
      description: Retrieve OpenID Connect user information for the authenticated user.
      tags:
      - OIDC
      servers:
      - url: https://kapi.kakao.com
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OIDC user info payload.
          content:
            application/json:
              schema:
                type: object
  /.well-known/openid-configuration:
    get:
      operationId: oidcDiscovery
      summary: OIDC discovery document
      description: Return the OpenID Connect discovery metadata for Kakao Login.
      tags:
      - OIDC
      servers:
      - url: https://kauth.kakao.com
      responses:
        '200':
          description: OIDC discovery document.
          content:
            application/json:
              schema:
                type: object
  /.well-known/jwks.json:
    get:
      operationId: oidcJwks
      summary: OIDC public signing keys
      description: Return the public JWKS used to verify Kakao-issued ID tokens.
      tags:
      - OIDC
      servers:
      - url: https://kauth.kakao.com
      responses:
        '200':
          description: JWKS payload.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Kakao access token
      description: Kakao access token issued by /oauth/token, sent as "Bearer {access_token}".
    adminKey:
      type: apiKey
      in: header
      name: Authorization
      description: Kakao app Admin Key sent as "KakaoAK {admin_key}" for server-to-server calls.
